In [ ]:
#1:36:02~1:40:08
import yfinance as yf
data =yf.download("2330.tW", start="2023-01-01") #近一個月的股票 #2330台積電
data

[*********************100%***********************]  1 of 1 completed

Price         Adj Close   Close    High     Low    Open    Volume
Ticker          2330.TW 2330.TW 2330.TW 2330.TW 2330.TW   2330.TW
Date
2023-01-03   437.941559   453.0   453.5   443.0   446.0  14885824
2023-01-04   434.557861   449.5   455.0   448.5   449.5  19188422
2023-01-05   443.258698   458.5   459.5   455.0   459.0  23549581
2023-01-06   443.258698   458.5   459.5   455.0   455.0  20886011
2023-01-09   465.010742   481.0   481.0   467.5   468.0  46666263
...                 ...     ...     ...     ...     ...       ...
2024-11-14  1035.000000  1035.0  1040.0  1025.0  1030.0  44627940
2024-11-15  1035.000000  1035.0  1045.0  1030.0  1040.0  34791611
2024-11-18  1025.000000  1025.0  1035.0  1020.0  1030.0  31815076
2024-11-19  1040.000000  1040.0  1045.0  1025.0  1030.0  24349599
2024-11-20  1025.000000  1025.0  1050.0  1020.0  1045.0  36929415

[453 rows x 6 columns]